{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/categoria/styles.css' %}">
{% endblock %}

{% block titulo %} Categoria | {{user.get_username.title}}{% endblock %}

{% block conteudo %}
<section id="fundoProdutos">
    <img id="imgMadeira" src="{% static 'img/madeira.jpg' %}" alt="">
    <section id="telaProdutos">
        <h1 id="categoria">Categoria</h1>
        <hr>
        {% for produto in produtos %}
        <div id="produto">
            <div id="imgProduto">
                <div class="wrapper">
                    <div class="card-content">
                        <div class="card-front">
                            {% if produto.protudo_img %}
                            <img id="image" src="{{produto.protudo_img.url}}" alt="">
                            {% else %}
                            <img id="image" src="" alt="">
                            {% endif %}
                        </div>
                        <div class="card-back" id="card-desc">{{produto.descricao}}</div>
                    </div>
                </div>
            </div>
            <div id="barra">
                <p id="nmProduto">{{produto.nome}}</p>
                <h4 id="preco">R$ {{produto.preco}}</h4>
                <div id="adicionar">
                    <div id="quantidade">
                        <p id="qtd">
                            Qtd:
                            <a id="menos">-</a>
                            <input id="numero" type="text"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                            <a id="mais">+</a>
                        </p>
                    </div>
                    <i id="cart" class="fa-solid fa-cart-plus"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    {% endblock %}