* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root {
    --corCabecalho: #000;
    --corIcon: #fff;
    --corBorda: #fff;
}

#cbx {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background: transparent;
    padding: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 12%;
    background-color: var(--corCabecalho);
}

#cbEsqueda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9%;
    height: 100%;
}

#cbEsqueda img {
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--corBorda);
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#cbEsqueda:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#cbEsqueda i {
    cursor: pointer;
    font-size: 2rem;
    color: var(--corIcon);
}

#cbDireita {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

#pesquisar {
    display: flex;
    align-items: center;
    width: 70%;
    height: 30%;
}   


#buscar {
    border: 4px solid var(--corIcon);
    border-radius: 2rem;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 7px;
}

#buscar::placeholder {
    padding-left: 0.1rem;
}

#cbDireita i {
    margin-right: 1rem;
    cursor: pointer;
    color: var(--corIcon);
    font-size: 2rem;
}

#menu {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    border-radius: 0 0 1rem 1rem;
    z-index: 3;
    width: 20%;
    height: 90%;
    background-color: var(--corCabecalho);
}

#menu div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    width: 50%;
    height: 8%;
    border: 2px solid var(--corBorda);
    border-radius: 1rem;
}

#menu div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.5rem;
}

#menu div:hover {
    background-color: #168039;
}

@media (max-width: 1466px) {
    #cbEsqueda {
        width: 12%;
    }

    #menu div {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    #menu {
        width: 40%;
    }
}


@media (max-width: 1366px) {
    #cbEsqueda {
        width: 15%;
    }
}

@media (max-width: 800px) {
    #cbEsqueda {
        width: 25%;
    }

    #menu div {
        width: 70%;
    }
}

@media (max-width: 600px) {
    #cbEsqueda {
        width: 30%;
    }

}

@media (max-width: 500px) {
    #cbEsqueda {
        width: 35%;
    }

    #cbDireita {
        width: 70%;

    }

    #pesquisar {
        margin-left: 6rem;
        height: 25%;
        width: 40%;
    }

    #cbEsqueda i {
        display: none;
    }

    #buscar::placeholder {
        padding-left: 0.5rem;
    }

    #menu {
        width: 50%;
    }
}

@media (max-width: 400px) {
    #pesquisar {
        margin-left: 3.5rem;

    }

    #buscar {
        width: 100%;
    }

    #menu div {
        width: 80%;
    }
}


@media (max-width: 320px) {
    #menu {
        width: 70%;
    }
}