{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/carrinho/styles.css' %}">
{% endblock %}

{% block titulo %} Carrinho | {{user.get_username.title}}{% endblock %}

{% block conteudo %}
<section>
    <div id="principal">
        <div id="painelCarrinho">
            <table id="tabela_produtos">
                <thead id="cabecalho">
                    <tr>
                        <th id="produto">Produto</th>
                        <th id="descricao">Descrição</th>
                        <th id="preco">Preço</th>
                        <th id="quantidade">Quantidade</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody id="conteudo">
                    {% for carrinho in carrinhos %}
                    <tr>
                        <td id="imgProduto"><a href=""><img src="{{carrinho.produto.protudo_img.url}}" alt=""></a></td>
                        <td id="descricaoProduto" name="{{carrinho.id}}" value="{{carrinho.id}}">{{carrinho.produto.nome}}</td>
                        <td id="precoProduto">R$ {{carrinho.produto.preco}}</td>
                        <td> <input id="quantidade" type="number" min="1" max="50" value="{{carrinho.quantidade_produto}}" disabled="disabled"></td>
                        <td>
                            <a id="remover" href="{% url 'deletarCart' carrinho.id %}" class="fa-solid fa-trash"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="tabela_total_pedido">
                <h3>Total</h3>
                <p name="valorTot">R$ {{valor}}</p>
            </div>




        </div>
        <form id="botao" action="{% url 'carrinho' %}" method="POST"> {% csrf_token %}
            <button id="fimCompra">Finalizar Compra</button>
            <button id="cancela">Cancelar</button>
        </form>
    </div>
</section>
{% endblock %}