{% load static %}
<input type="checkbox" id="cbx">
<header>
    <div id="cbEsqueda">
        <label for="cbx">
            {% if user.perfil_img %}
                <img src="{{user.perfil_img.url}}" alt="" onclick="abrirMenu()">
            {% else %}
                <img src="{% static 'img/icon_user.png' %}" alt="" onclick="abrirMenu()">
            {% endif %}
        </label>
        <a href="{% url 'carrinho' %}">
            <i class="fa-solid fa-cart-plus"></i>
        </a>
    </div>
    <div id="cbDireita">
        <div id="pesquisar">
            <input type="search" id="buscar" placeholder="Pesquisar">
        </div>
        <a href="{% url 'logout' %}">
            <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
        </a>
    </div>
</header>