{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
    <script defer src="{% static 'js/base/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    {% block link %}{% endblock %}
    <title>{% block titulo %} base {% endblock %}</title>
</head>
<body>
    {% include 'parciais/_cabecalho.html' %}
    {% include 'parciais/_menu.html' %}
    
    {% block conteudo %}
    
    {% endblock %}
    
</body>
</html>